bgimage {
  background-image:url("images/waffle.jpg");
  background-position: center center;
  background-size:auto;
  height:400px;
}
logo {
  padding-top: 20px;
  background-color: black;
  color: white;
}
section {
  display:inline;
}
img.submit {
  padding-bottom: 500px;
}
